In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
dataset = [['Onion', 'Potato', 'Burger'],
['Potato', 'Burger', 'Milk'], 
['Milk', 'Beer'],
['Potato', 'Milk'],
['Onion', 'Potato', 'Burger', 'Beer'], 
['Onion', 'Potato', 'Burger', 'Milk']
]

In [4]:
encode = TransactionEncoder()
encoded_array = encode.fit(dataset).transform(dataset)
encoded_array

array([[False,  True, False,  True,  True],
       [False,  True,  True, False,  True],
       [ True, False,  True, False, False],
       [False, False,  True, False,  True],
       [ True,  True, False,  True,  True],
       [False,  True,  True,  True,  True]])

In [5]:
dataframe = pd.DataFrame(encoded_array, columns=encode.columns_) 
dataframe

    Beer  Burger   Milk  Onion  Potato
0  False    True  False   True    True
1  False    True   True  False    True
2   True   False   True  False   False
3  False   False   True  False    True
4   True    True  False   True    True
5  False    True   True   True    True

In [6]:
frequent_itemsets = apriori(dataframe, min_support=0.4, use_colnames=True) 
frequent_itemsets

    support                 itemsets
0  0.666667                 (Burger)
1  0.666667                   (Milk)
2  0.500000                  (Onion)
3  0.833333                 (Potato)
4  0.500000          (Burger, Onion)
5  0.666667         (Potato, Burger)
6  0.500000           (Potato, Milk)
7  0.500000          (Potato, Onion)
8  0.500000  (Potato, Burger, Onion)

In [7]:
pattern_rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7) 
pattern_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Burger),(Onion),0.666667,0.500000,0.500000,0.75,1.5,0.166667,2.000000,1.000000
1,(Onion),(Burger),0.500000,0.666667,0.500000,1.00,1.5,0.166667,inf,0.666667
2,(Potato),(Burger),0.833333,0.666667,0.666667,0.80,1.2,0.111111,1.666667,1.000000
3,(Burger),(Potato),0.666667,0.833333,0.666667,1.00,1.2,0.111111,inf,0.500000
4,(Milk),(Potato),0.666667,0.833333,0.500000,0.75,0.9,-0.055556,0.666667,-0.250000
5,(Onion),(Potato),0.500000,0.833333,0.500000,1.00,1.2,0.083333,inf,0.333333
6,"(Potato, Burger)",(Onion),0.666667,0.500000,0.500000,0.75,1.5,0.166667,2.000000,1.000000
7,"(Potato, Onion)",(Burger),0.500000,0.666667,0.500000,1.00,1.5,0.166667,inf,0.666667
8,"(Burger, Onion)",(Potato),0.500000,0.833333,0.500000,1.00,1.2,0.083333,inf,0.333333
9,(Burger),"(Potato, Onion)",0.666667,0.500000,0.500000,0.75,1.5,0.166667,2.000000,1.000000
10,(Onion),"(Potato, Burger)",0.500000,0.666667,0.500000,1.00,1.5,0.166667,inf,0.666667